@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  display:inline-block;
  font-size:16px;
  font-family:"iconfont" !important;
  font-style:normal;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  vertical-align:middle;
}

.icon-wenjian:before { content: "\e600"; }

.icon-yingyongliebiaohuishouzhan:before { content: "\e63c"; }

.icon-wenjianjia:before { content: "\e624"; }

.icon-trash-active:before { content: "\e63f"; }

.icon-yuan:before { content: "\e7bb"; }

.icon-icon:before { content: "\e649"; }

.icon-duigou:before { content: "\e60e"; }

.icon-xinjian:before { content: "\e615"; }

.icon-bianji:before { content: "\e61b"; }

.icon-yidong:before { content: "\e61c"; }

.icon-qingkong:before { content: "\e63d"; }

.icon-cha:before { content: "\e604"; }

.icon-tupian:before { content: "\e617"; }

.icon-huifu:before { content: "\e619"; }

.icon-huifu1:before { content: "\e603"; }

.icon-zuijin:before { content: "\e666"; }

.icon-shangchuan:before { content: "\e663"; }

.icon-sanjiaoxing:before { content: "\e6c3"; }

.icon-wendang:before { content: "\e621"; }

.icon-sanjiaoxing-copy:before { content: "\e7bc"; }

